.calculator{
    display: flex;
    justify-content: center;
}

.calculator__container {
    margin-top: 5%;
    box-shadow: black 2px 2px 2px;
}

.container__title{
    margin-bottom: 1%;
    padding-left: 1%;
}

.container__size{
    display: flex;
    height: min-content;
    text-align: center;
}
.container__buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 25vh;
}

.calculatorPrint__result{
    align-self: center;
    border: 1px solid black;
}

@media (max-width: 450px){
    .calculator__container {
        margin-top: 50px;
        width: 250px;
    }

    .container__size{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    .calculatorPrint__result{
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1500px){
    .calculator__container {
        margin-top: 100px;
    }
    .container__size{
        font-size: 2rem;
    }

}